# Java / Maven
target/
*.class
*.jar
*.war

# IDE
.idea/
.vscode/
.settings/
.project
.classpath
.factorypath

# OS
.DS_Store
Thumbs.db

# Docker
backend.zip

# Uploads
backend/uploads/

# Misc
q
*.log
